.explore {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    color: #242424;
  }

  .explore__title{
    font-weight: thin;
    font-size: 30px;
    color: rgb(51, 51, 51);
  }

  .explore__item--title{
    font-size: 22px;
  }

  .explore__item--subtitle{
    font-size: 18px;
    color: #535353;
  }
   
  .explore__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .explore__item--img {
    height: 160px;
  }