
/* -------------------ticket------------- */

.ticket {
  background-color: #78CAD3;
  border: 1px solid black;
  border-radius: 15px;
  margin: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.ticket__data--title {
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.ticket__data--title p {
  margin: 10px;

}

.ticket__data--info {
  /* border: 1px solid #707070; */
  background-color: white;
  width: 100%;
}

.ticket__data--info h3 {
  margin: 0px;
  padding: 5px 0px 0px 20px;
}

.ticket__data--info p {
  margin: 0px;
  padding: 0px 0px 5px 20px;  
}

.ticket__data--details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 20px 10px 0px;
}

.ticket__data--from {
  width: 200px;
}

.ticket__data--to {
  width: 200px;
}

.ticket__price {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ticket__price button {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #120390;
  border-radius: 4px;
  border: 1px solid #120390 ;
  color: white;
}

.ticket__price h3 {
  margin: 10px;
}

.ticket__price p {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}