body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.header {
  background: #eaf2e3;
  height: 100px;
  /* border: 2px solid black;   */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header__logo img {
  width: 50px;
}

.register {
  background: #eaf2e3; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 500px);; /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
}

  .register__container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
    padding: 10px 40px 20px;
    width: 250px;
    margin: 50px 0px;
    text-align: center;
  }

  .register__container--form {
    display: flex;
    flex-direction: column;
  }
  
  .register__container--form label {
    font-size: 14px;
  }

  .register__container--social-media > div {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-top: 25px;
    justify-content: space-around;
  }
  
  .register__container--social-media > div > img {
    margin-right: 10px;
    width: 30px;
  }

  .register__container a {
    color: rgb(39, 39, 39);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }

  .register__container a:hover {
    text-decoration: underline;
  }

  .input {
    background-color: transparent;
    border-bottom: 2px solid rgb(39, 39, 39);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: rgb(39, 39, 39);
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
  }
  
  ::placeholder {
    color: rgb(39, 39, 39);
  }
  
  .button {
    background-color: rgb(3, 82, 209);
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
  
  @media only screen and (max-width: 600px) {
    .login {
      padding: 0PX 38PX;
      background-size: cover;
      background-color: rgba(0,0,0,0.8);
    }
        
    .login__container {
      background-color: transparent;
      border: none;
      box-shadow: none;
      width: 100%;
      min-height: 600px;
      padding: 0PX 0PX;
      width: 300px;
    }
  
  }